* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration:none;
}

.container {
    width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
header {
    margin-bottom: 8px;
    display: block;
    padding-top: 10px;
}
header header_logo {
    display: inline-block;
}
header .header_botton {
    display: inline-block;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;

}
header .line {
    width: 1px;
    height: 25px;
    background-color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
header .line_SP {
    width: 1px;
    height: 46px;
    background-color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
header .block_to_div {
    width: 561px;
    height: 46px;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
header .header_botton_sec {
    display: inline-block;
    font-size: 14px;
    padding-right: 2px;
}
header .header_sec_pic{
    display: inline-block;
    font-size: 12px;
    padding-right: 2px;
}
header a:link {
    color: black
}
header a:visited {
    color: black
}
header a:active {
    color: black
}
header a:hover {
    color: black
}
article .main_bottom .M_learn_more_botton {
    display: inline-block;
    padding: 0 32px;
    line-height: 50px;
    position: absolute;
    z-index: 100;
    background: 0 0;
    text-transform: uppercase;
    border: 0 none;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    top: 360px;
    left: 1268px;
}
article .main_bottom .M_learn_more_botton:hover {
    background-color: #000;
    color: #fff;
}
article .main_bottom .M_learn_more_botton:active {
    background-color: rgb(165, 165, 165);
    color: rgb(0, 0, 0);
}

article .main_production .m_p {
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.crossover {
    margin-top:10px;
}
.crossovertitle {
    font-size: 18px;
    display: block;
    margin: 0px 509px;
    font-family: Arial;
    font-weight: bold;
    position: relative;
}
.crossover{
    display: block;
}
.cross {
    float: left;
}

.michael {
    position: relative;
    width: 400px;
}
.michael .cross_p {
    font-family: Arial;
    font-size: 16px;
    text-align:center;
}
.michael .cross_title{
    font-family: Arial;
    font-size:24px;
    font-weight: bold;
    text-align:center;
}
.michael .cross_pic {
    background-size: cover;
}

.fubu {
    position: relative;
    width: 400px;
    margin-left: 40px;
}
.fubu .cross_p {
    font-family: Arial;
    font-size: 16px;
    text-align:center;
}
.fubu .cross_title{
    font-family: Arial;
    font-size:24px;
    font-weight: bold;
    text-align:center;
}
.fubu .cross_pic {
    background-size: cover;
}

.collectors {
    position: relative;
    margin-left: 40px;
    width: 400px;
}
.collectors .cross_p {
    font-family: Arial;
    font-size: 16px;
    text-align:center;
}
.collectors .cross_title{
    font-family: Arial;
    font-size:24px;
    font-weight: bold;
    text-align:center;
}
.collectors .cross_pic {
    background-size: cover;
    text-align:center;
}
article .video_production {
    margin-top:10px;
}
article .video_production .video_p {
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}
article .video_btm .video_botton {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 1070px;
    left: 1160px;
}
article .SP_production {
    margin-top:10px;
}
article .SP_production .sp_p {
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}
article .SP_bottom .SP_learn_more_botton {
    display: inline-block;
    padding: 0 32px;
    line-height: 50px;
    position: absolute;
    background: 0 0;
    text-transform: uppercase;
    border: 0 none;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    top: 1680px;
    left: 1370px;
}
article .SP_bottom .SP_learn_more_botton:hover{
    background-color: rgb(165, 165, 165);
    color: #000;
}
article .SP_bottom .SP_learn_more_botton:active{
    background-color: rgb(255, 255, 255);
    color: #000;
}
article .SP_production_ll {
    margin-top:10px;
    display: block;
    float: left;
}
article .SP_production_ll .fur {
    position: relative;
    width: 600px;
}
article .SP_production_ll .fur .cross_pic{
    background-size: cover;
}
article .SP_production_ll .fur .sp_title{
    font-family: Arial;
    font-size:24px;
    font-weight: bold;
    text-align:center;
}
article .SP_production_ll .fur .sp_p{
    font-family: Arial;
    font-size: 16px;
    text-align:center;
}
article .SP_production_ll .fur .SPll_learn_more_botton{
    font-family: Arial;
    font-size: 12px;
    text-align:center;
    cursor: pointer;
}
article .SP_production_ll .suede {
    position: relative;
    width: 600px;
    margin-left: 80px;
}
article .SP_production_ll .suede .cross_pic{
    background-size: cover;
}
article .SP_production_ll .suede .sp_title{
    font-family: Arial;
    font-size:24px;
    font-weight: bold;
    text-align:center;
}
article .SP_production_ll .suede .sp_p{
    font-family: Arial;
    font-size: 16px;
    text-align:center;
}
article .SP_production_ll .suede .SPll_learn_more_botton{
    font-family: Arial;
    font-size: 12px;
    text-align:center;
    cursor: pointer;
}

footer .footer_about {
    margin-top:10px; 
    background: rgb(221, 221, 221);
    display: inline-block;
}
footer .footer_about .f_logo {
    display: inline-block;
    background-size:50%; 
}
footer .footer_about .f_p {
    display: inline-block;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}
footer .footer_about .block_to_div {
    width: 1091.09px;
    height: 46px;
    background-color: rgb(221, 221, 221);
    display: inline-block;
}

footer .footer_main {
    margin-top:2px;
    line-height: 2;
    font-size: 16px;
    font-family: Arial;
    
    cursor: pointer;
    display: block;
    position: relative;
}
footer .cut{
    float: left; 
    background-color: rgb(221, 221, 221);
}
footer .block_main {
    height: 39px;
    width: 175px;
}
footer .block_main1 {
    height: 39px;
    width: 1105px;
}
footer .cut1{
    float: left;
    background-color: rgb(221, 221, 221);
}
footer .real_footer {
    position: absolute;
    background-color: rgb(221, 221, 221);
    display: block;
    bottom: -1570px;
}
footer .footer_p {
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
}
footer .footer_icon {
    display: inline-block;
}
footer .footer_block {
    height: 53.33px;
    width: 400px;
    display: inline-block;
}
footer .footer_block1 {
    height: 53.33px;
    width: 24.16px;
    display: inline-block;
}
